# Getting Started With Titanic
## Kaggle Tutorial

The first step is to load the packages that we will need.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing

Next step is to load our data. The data we need is included in the `data-in` folder and is named `train.csv`. Let's find the full filenames for all of the files.

In [2]:
import os
for dirname, _, filenames in os.walk('data-in'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data-in/test.csv
data-in/train.csv

Now we can read the `train.csv` file into pandas.

In [4]:
train_data = pd.read_csv('data-in/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S